body {
  margin: 0;
}

.container {
  margin: 0 auto;
  text-align: center;
}

/*********
header
**********/

/*********
header-pc
**********/

.mainvisual {
  font-family: "Gill Sans Std Book", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  height: 95vh;
  position: relative;
  background-color: #656c6e;
  z-index: 1;
}

@media screen and (max-width: 883px) {
  .mainvisual {
    display: none;
  }
}

.header-top {
  top: -8%;
  left: 0;
  right: 0;
  height: 108%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

#slideshow1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

#slideshow2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.fadeout {
  opacity: 0;
  transition: 2s ease-in-out;
}

.fadein {
  opacity: 1;
  transition: 2s ease-in-out;
}

.header-bg {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url(../image/mainVisual-overlay@2x.png) center bottom no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 5;
}

.headertop-pc {
  height: 122px;
  width: 86%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 7%;
  position: absolute;
  z-index: 5;
}

.logoheader-pc {
  width: 266px;
  height: 72px;
  left: 60px;
}

.navheader-pc {
  margin-bottom: calc(122px - 101px);
}

.navheader-pc ul {
  width: 440px;
  height: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navheader-pc ul li:nth-child(1) {
  width: 30px;
}

.navheader-pc ul li:nth-child(2) {
  width: 74px;
}

.navheader-pc ul li:nth-child(3) {
  width: 53px;
}

.navheader-pc ul li:nth-child(4) {
  width: 44px;
}

.navheader-pc ul li:nth-child(5) {
  width: 76px;
}

.navheader-pc ul a {
  display: block;
  text-decoration: none;
  height: 26px;
  margin-top: 6px;
  box-sizing: border-box;
}

.navheader-pc ul a:link,
a:visited,
a:active {
  color: #ffffff;
}

.navheader-pc ul a::after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: 2px solid #ffffff;
  padding-bottom: 4px;
  opacity: 0;
  transition: 0.3s;
}

.navheader-pc ul a:hover::after {
  opacity: 1;
}

.header-arrow {
  position: absolute;
  left: 49%;
  top: 87%;
  z-index: 5;
}

/*********
header-sp
**********/

.header-sp {
  height: 103vh;
  font-family: "Gill Sans Std Book", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background-color: #656c6e;
  position: relative;
}

@media screen and (min-width: 883px) {
  .header-sp {
    display: none;
  }
}

.headertop-sp {
  top: 0;
  left: -5%;
  right: 0;
  height: 103vh;
  position: absolute;
  overflow: hidden;
}

#slideshowSp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#slideshowSp2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* .fadeout {
  opacity: 0;
  transition: 2s ease-in-out;
}

.fadein {
  opacity: 1;
  transition: 2s ease-in-out;
} */

.header-bg-sp {
  height: 103vh;
  width: 100%;
  top: 0;
  left: 0;
  background: url(../image/mainVisual-overlay@2x.png) center bottom no-repeat;
  background-size: 100%;
  position: absolute;
}

.navheader-sp {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.navheader-content {
  transition: 0.7s ease-in-out;
  transform: translateY(-274px);
  z-index: 5;
}

.navheader-content.active {
  display: block;
  transform: translateY(0px);
}

.navheader-content ul {
  list-style: none;
  padding-left: 7%;
  margin: 0;
  background-color: #333333;
  opacity: 0.9;
}

.navheader-content ul li {
  height: 54px;
  text-align: left;
  padding: 18px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.navheader-content ul li:not(:first-child) {
  height: 55px;
  border-top: 1px solid #ffffff;
}

.navheader-content ul a {
  display: block;
  text-decoration: none;
}

.menubar {
  height: 45px;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #ffffff;
}

.menubar .menutext {
  align-self: center;
  size: 11px;
  font-weight: 400;
  color: #656c6e;
  line-height: 45px;
}

.menubar .menuinput {
  align-self: center;
  margin-top: 3px;
}

.logoheader-sp {
  top: 31%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.headersp-arrow {
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

/****************************************
main
*****************************************/

.mainpc {
  width: 100%;
  padding: 110px 0;
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, 游ゴシック, YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo,
    sans-serif;
  font-style: normal;
  color: #13191b;
  background-color: #f6f6f6;
}

@media screen and (max-width: 684px) {
  .mainpc {
    max-width: 816px;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, 游ゴシック, YuGothic,
      "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo,
      sans-serif;
    font-style: normal;
    color: #13191b;
    background-color: #f6f6f6;
  }
}

.mainpc-wide {
  max-width: 816px;
  margin: 0 auto;
}

@media screen and (max-width: 684px) {
  .mainpc {
    max-width: 816px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.mainpc-narrow {
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 684px) {
  .mainpc-narrow {
    width: 85%;
  }
}

.mainpc-narrow h2 {
  margin: 0;
  height: 74px;
  text-align: center;
  font-size: 44px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.1em;
  position: relative;
}

@media screen and (max-width: 684px) {
  .mainpc-narrow h2 {
    margin: 0;
    height: 74px;
    text-align: left;
    font-size: 44px;
    line-height: 75px;
    font-weight: 400;
    letter-spacing: 0.1em;
    position: relative;
  }
}

.mainpc-narrow h2 span {
  width: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.mainpc-read {
  width: 370px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

@media screen and (max-width: 684px) {
  .mainpc-read {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.mainpc-read .text {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}

.mainpc-read .image {
  height: 54px;
  text-align: center;
  margin: 35px auto;
}

@media screen and (max-width: 684px) {
  .mainpc-read .image {
    height: 54px;
    text-align: left;
    margin: 35px auto;
  }
}

.mainpc-read p:nth-of-type(3) {
  margin-bottom: 0;
}

.mainpc-read p:last-of-type {
  margin-top: 0;
}

/****************************************
product
*****************************************/

/****************************************
product-pc
*****************************************/

.productpc {
  width: 100%;
  text-align: center;
  margin: 0;
}

.productpc-narrow {
  max-width: 816px;
  margin: 0 auto;
  padding: 110px 5%;
}

.productpc-header {
  font-family: "Gill Sans Std Book", sans-serif;
  font-style: normal;
  color: #13191b;
  height: 47px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.productpc-header h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
  background: url(../image/sectionTitle-underLine@2x.png) left bottom no-repeat;
  background-size: 40%;
}

.productpc-header .button {
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  width: 162px;
  color: #333333;
  border: 1px solid #333333;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

.productpc-header .button::after {
  width: 10px;
  height: 10px;
  content: "";
  background: url(../image/button-arrow@2x.png) right center no-repeat;
  background-size: 80%;
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.productpc-header .button:hover {
  background-color: #333333;
  color: #ffffff;
}

.productpc-header .button:hover::after {
  content: "";
  background: url(../image/button-arrow-hover@2x.png) right center no-repeat;
  background-size: 80%;
}

.productpc-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/****************************************
product-main pc&sp
*****************************************/

@media screen and (max-width: 780px) {
  .productpc-main {
    display: block;
  }
}

.productpc-main article {
  width: 33.3%;
  padding-top: 60px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
}

@media screen and (max-width: 780px) {
  .productpc-main article {
    width: 100%;
    padding-top: 30px;
    letter-spacing: 0.1em;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    position: relative;
  }
}

.productpc-main section {
  max-width: 241px;
  padding: 0 15px;
}

@media screen and (max-width: 780px) {
  .productpc-main section {
    max-width: 241px;
    padding: 0;
    padding-right: 68.1%;
    margin: 0;
  }
}

.productpc-main section:hover {
  opacity: 0.7;
  cursor: pointer;
}

.productpc-main section img {
  max-width: 241px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 780px) {
  .productpc-main section img {
    max-width: 219px;
    width: 100%;
    height: auto;
  }
}

.productpc-main section h1 {
  margin: 0;
  padding: 0 15px;
}

@media screen and (max-width: 780px) {
  .productpc-main section h1 {
    position: absolute;
    top: 30px;
    right: 0;
    left: 32%;
    padding: 0;
    padding-top: 20px;
    padding-left: 30px;
  }
}

/****************************************
news
*****************************************/

.news {
  width: 100%;
  text-align: center;
  margin: 0;
  background-color: #f6f6f6;
}

.news-narrow {
  max-width: 816px;
  margin: 0 auto;
  padding: 110px 5%;
  position: relative;
}

.news-header {
  font-family: "Gill Sans Std Book", sans-serif;
  font-style: normal;
  color: #13191b;
  height: 47px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.news-header h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
  background: url(../image/sectionTitle-underLine@2x.png) left bottom no-repeat;
  background-size: 40%;
}

.news-header .button {
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  width: 162px;
  color: #333333;
  border: 1px solid #333333;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

.news-header .button::after {
  width: 10px;
  height: 10px;
  content: "";
  background: url(../image/button-arrow@2x.png) right center no-repeat;
  background-size: 80%;
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.news-header .button:hover {
  background-color: #333333;
  color: #ffffff;
}

.news-header .button:hover::after {
  content: "";
  background: url(../image/button-arrow-hover@2x.png) right center no-repeat;
  background-size: 80%;
}

.news-main {
  display: block;
}

.news-main article {
  width: 100%;
  margin-top: 60px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
}

.news-main section {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.img-wide {
  max-width: 322px;
  padding: 0 15px;
  margin-left: -15px;
}

.news-main section img {
  max-width: 322px;
  width: 100%;
  height: auto;
}

.news-maintext {
  max-width: 463px;
  padding: 0 15px;
  margin-right: -15px;
}

.news-maintext h2 {
  max-width: 463px;
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;
  margin: 0;
}

.news-maintext h3 {
  max-width: 463px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #656c6e;
  margin: 0;
  margin-top: 5px;
}

.news-maintext p {
  max-width: 463px;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #656c6e;
  margin: 0;
  margin-top: 15px;
}

#news-arrow {
  position: absolute;
  height: 50px;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  transition: 0.3s;
}

#news-arrow:hover {
  transform: translate(-50%, -5px);
}


/****************************************
footer
*****************************************/

.footershare {
  width: 100%;
  height: 116px;
  position: relative;
  margin: 30px 0;
}

.footerbutton {
  width: 100%;
  height: 46px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 0.05em;
}

@media screen and (max-width: 582px){
  .footerbutton{
    width: 100%;
    height: 112px;
    letter-spacing: 0.05em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footerbutton .Facebookbutton {
  color: blue;
  border: 1px solid blue;
  padding: 11px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  text-decoration: none;
  margin: 10px;
}

.footerbutton .Facebookbutton:hover {
  color: #ffffff;
  background-color: blue;
}

@media screen and (max-width: 701px) and (min-width: 583px) {
  .footerbutton .Facebookbutton {
    color: blue;
    border: 1px solid blue;
    padding: 11px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    text-decoration: none;
    margin: 0;
  }
}

@media screen and (max-width: 582px){
  .footerbutton .Facebookbutton{
    color: blue;
    border: 1px solid blue;
    padding: 11px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    margin: 5px 0;
    margin-left: 10px;
    margin-right: 5px;
    width: 40%;
    height: 46px;
  }
}

.footerbutton .Twitterbutton {
  color: rgb(125, 207, 235);
  border: 1px solid rgb(125, 207, 235);
  padding: 11px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  text-decoration: none;
  margin: 10px;
}

.footerbutton .Twitterbutton:hover {
  color: #ffffff;
  background-color: rgb(125, 207, 235);
}

@media screen and (max-width: 701px) and (min-width: 583px) {
  .footerbutton .Twitterbutton {
    color: rgb(125, 207, 235);
    border: 1px solid rgb(125, 207, 235);
    padding: 11px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    text-decoration: none;
    margin: 0;
  }
}

@media screen and (max-width: 582px){
  .footerbutton .Twitterbutton{
    color: rgb(125, 207, 235);
    border: 1px solid rgb(125, 207, 235);
    padding: 11px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    margin: 5px 0;
    margin-left: 10px;
    margin-right: 5px;
    width: 40%;
    height: 46px;
  }
}

.footerbutton .Hatenabutton {
  color: #0098fd;
  border: 1px solid #0098fd;
  padding: 11px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  text-decoration: none;
  margin: 10px;
}

.footerbutton .Hatenabutton:hover {
  color: #ffffff;
  background-color: #0098fd;
}

@media screen and (max-width: 701px) and (min-width: 583px) {
  .footerbutton .Hatenabutton {
    color: #0098fd;
    border: 1px solid #0098fd;
    padding: 11px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    text-decoration: none;
    margin: 0;
  }
}

@media screen and (max-width: 582px){
  .footerbutton .Hatenabutton{
    color: #0098fd;
    border: 1px solid #0098fd;
    padding: 11px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    margin: 5px 0;
    margin-left: 10px;
    margin-right: 5px;
    width: 40%;
    height: 46px;
  }
}

.footerbutton .Linebutton:hover {
  color: #ffffff;
  background-color: #3afa5a;
}

@media screen and (min-width: 583px){
  .footerbutton .Linebutton{
    display: none;
  }
}

@media screen and (max-width: 582px){
  .footerbutton .Linebutton{
    color: #3afa5a;
    border: 1px solid #3afa5a;
    padding: 11px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    margin: 5px 0;
    margin-left: 10px;
    margin-right: 5px;
    width: 40%;
    height: 46px;
  }
}

.footernav{
  width: 100%;
  height: 86px;
  background-color: #939899;
  position: relative;
}

.footernav-menu{
  width: 100%;
  height: 26px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footernav-menu ul{
  height: 26px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footernav-menu li{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 20px;
}

.footernav-menu a{
  text-decoration: none;
  height: 16px;
  transition: 0.5s;
}

.footernav-menu a:hover{
  opacity: 0.8;
}


/****************************************
footernav-sp
*****************************************/

@media screen and (max-width: 582px){
  .footernav{
    height: 274px;
    background-color: #939899;
  }
}

@media screen and (max-width: 582px){
  .footernav-menu{
    height: 274px;
  }
}

@media screen and (max-width: 582px){
  .footernav-menu ul{
    height: 274px;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 582px){
  .footernav-menu li{
    height: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    margin: 0;
    border-top: 1px solid #ffffff;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 582px){
  .footernav-menu a{
    height: 54px;
    display: block;
    text-decoration: none;
    transition: 0.5s;
    line-height: 60px;
  }
}

/****************************************
footerlast
*****************************************/

.footerlast{
  height: 159px;
  background-color: #656c6e;
}

.footerlast-narrow{
  height: 89px;
  padding: 35px 150px;
  display: flex;
  justify-content: space-around;
}


.footerlast-narrow p{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #ffffff;
  align-self: center;
  letter-spacing: 0.05em;
}

/****************************************
footerlast-sp
*****************************************/

@media screen and (max-width: 582px){
  .footerlast{
    height: 204px;
    background-color: #656c6e;   
  }
}

@media screen and (max-width: 582px){
  .footerlast-narrow{
    height: 134px;
    padding: 35px 0;
    display: block;
  }
}

@media screen and (max-width: 582px){
  .footerlast-narrow p{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #ffffff;
    letter-spacing: 0.05em;
  }
}
